<%= simple_form_for @company do |f| %>
  <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name, placeholder: "Enter company name"%>
      </div>
      <div class="form-inputs">
        <%= f.input :registration_number, placeholder: "Enter registration number"%>
      </div>
      <div class="form-inputs">
      <%= f.input :VAT_number, placeholder: "Enter VAT number" %>
      </div>
      <div class="form-inputs">
        <%= f.input :website, placeholder: "Enter website" %>
      </div>
      <div class="form-inputs">
        <%= f.input :telephone, placeholder: "Enter telephone" %>
      </div>
      <div class="form-actions text-center">
        <%= f.button :submit %>
      </div>
<% end %>


